* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  padding: 1rem;
}
header nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
header nav a {
  padding: 1rem;
  border-radius: 1rem;
  background-color: chartreuse;
  text-decoration: none;
  color: black;
  transition: transform 500ms;
}
header nav a:hover {
  transform: translate(6px, 6px);
  box-shadow: -5px -5px 1px tomato;
  text-decoration: rebeccapurple underline solid 4px;
}

header nav a:active,
a:focus {
  text-decoration: blue underline solid 4px;
  box-shadow: 5px 5px 1px blue;
  transition: all 200ms;
}

header nav a.active {
  text-decoration: blue underline solid 4px;
  background-color: gold;
}
main section {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem;
  border: 1rem chartreuse solid;
  background-color: brown;
  transition: all 600ms;
}
main section:hover {
  font-size: 2.5rem;
  border-color: blue;
}

main section:active {
  border: 0.75rem solid gold;
  transition-duration: 200ms;
}
